### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

### PyCitySchools
* Dev: Amir Vazquez
* Date: 12/12/2020

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
Schools = school_data_complete['type'].unique
print(Schools)

<bound method Series.unique of 0        District
1        District
2        District
3        District
4        District
           ...
39165     Charter
39166     Charter
39167     Charter
39168     Charter
39169     Charter
Name: type, Length: 39170, dtype: object>

In [7]:
tot_schools = str(school_data_complete['school_name'].nunique())
#print(f'Total Schools: {tot_schools}')

tot_students = school_data_complete['Student ID'].nunique()
#print(f'Total number of students: {tot_students}')

tot_budget = school_data['budget'].sum()
#print(f'Total Budget: {tot_budget}')

avg_math = school_data_complete['math_score'].mean()
#print(f'Average math score: {avg_math}')

avg_reading = school_data_complete['reading_score'].mean()
#print(f'Average math score: {avg_reading}')

mathcntPass = school_data_complete.loc[school_data_complete['math_score'] >=70]['math_score'].count()
#mathcntPass
perMathpass = mathcntPass / tot_students*100
#print(f'% if students with math grade 70 or higher: {perMathpass}')
readingcntPass = school_data_complete.loc[school_data_complete['reading_score'] >=70]['reading_score'].count()
#readingcntPass
perReadingpass = readingcntPass / tot_students*100
#print(f'% of students with reading grade 70 or higherL {perReadingpass}')

#Calculate the percentage of students who passed math and reading (% Overall Passing)
rateStudentPass = (perMathpass + perReadingpass)/2
print(f'Students who passed math and reading (% Overall Passing) {rateStudentPass}')

Students who passed math and reading (% Overall Passing) 80.39315802910392

In [8]:
# Define District summary dictionary to hold the calculations
district_summary = pd.DataFrame({
                    'Total Schools':[tot_schools], 
                    'Total Students':[tot_students],
                    'Total Budget': [tot_budget],
                    'Average Math Score':[avg_math],
                    'Average Reading Score':[avg_reading],
                    '% Math Passing Score (70>=)':perMathpass,
                    '% Reading Passing Score (70>=)':[perReadingpass],
                    'Students (% Overall Passing)':[rateStudentPass]
                    
                   })

district_summary = district_summary.round(2)

In [9]:
#district_summary

In [10]:
district_summary['Total Students'] = district_summary['Total Students'].map("{0:,.0f}".format)
district_summary['Total Budget'] = district_summary['Total Budget'].map("${0:,.2f}".format)
district_summary['% Math Passing Score (70>=)'] = district_summary['% Math Passing Score (70>=)'].map("{0:,.2f}%".format)
district_summary['% Reading Passing Score (70>=)'] = district_summary['% Reading Passing Score (70>=)'].map("{0:,.2f}%".format)
district_summary['Students (% Overall Passing)'] = district_summary['Students (% Overall Passing)'].map("{0:,.2f}%".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Math Passing Score (70>=),% Reading Passing Score (70>=),Students (% Overall Passing)
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,80.39%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [11]:
# Pull unique school names
school_names = school_data_complete.set_index('school_name').groupby(['school_name'])
print(school_names)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001948BB11710>

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type