### PyCitySchools Analysis

This data set holds data from 15 schools and 39k students. There are two types of schools Charter and District. The observations applied to the schools are to Budget and the related grades of Math and Reading. The below observations
are based on the calculations and analysis found in this exercise.

### Observations
1.  We can observe in our analysis that the schools budget varies on an average at \$ 1.6M. 
	There is a dispersion between the schools of 2.8M.  So the budgets are not equal as we can noticed in the analysis.
	But just because schools have bigger budgets it doesnt guarantee a higher grade.
2.  The budget per student is averaging at \$ 620 with a dispersion of 77.
3.  The school with the lowest population of students at 427 has a budget per student at \$ 581. 
4.  Where the school with the highest population 4,976 has a budget per student at \$ 628
5.

### PyCitySchools
* Dev: Amir Vazquez
* Date: 12/12/2020

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
#school_data.head()

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#school_data_complete

In [4]:
tot_schools = str(school_data_complete['school_name'].nunique())
#print(f'Total Schools: {tot_schools}')

tot_students = school_data_complete['Student ID'].nunique()
#print(f'Total number of students: {tot_students}')

tot_budget = school_data['budget'].sum()
#print(f'Total Budget: {tot_budget}')

avg_math = school_data_complete['math_score'].mean()
#print(f'Average math score: {avg_math}')

avg_reading = school_data_complete['reading_score'].mean()
#print(f'Average math score: {avg_reading}')

mathcntPass = school_data_complete.loc[school_data_complete['math_score'] >=70]['math_score'].count()
#mathcntPass
perMathpass = mathcntPass / tot_students*100
#print(f'% if students with math grade 70 or higher: {perMathpass}')
readingcntPass = school_data_complete.loc[school_data_complete['reading_score'] >=70]['reading_score'].count()
#readingcntPass
perReadingpass = readingcntPass / tot_students*100
#print(f'% of students with reading grade 70 or higherL {perReadingpass}')

#Calculate the percentage of students who passed math and reading (% Overall Passing)
rateStudentPass = (perMathpass + perReadingpass)/2
print(f'Students who passed math and reading (% Overall Passing) {rateStudentPass}')

Students who passed math and reading (% Overall Passing) 80.39315802910392

In [5]:
# Define District summary dictionary to hold the calculations
district_summary = pd.DataFrame({
                    'Total Schools':[tot_schools], 
                    'Total Students':[tot_students],
                    'Total Budget': [tot_budget],
                    'Average Math Score':[avg_math],
                    'Average Reading Score':[avg_reading],
                    '% Math Passing Score (70>=)':perMathpass,
                    '% Reading Passing Score (70>=)':[perReadingpass],
                    'Students (% Overall Passing)':[rateStudentPass]
                    
                   })

district_summary = district_summary.round(2) #update floats down to 2 decimals
#district_summary

In [6]:
district_summary['Total Students'] = district_summary['Total Students'].map("{0:,.0f}".format)
district_summary['Total Budget'] = district_summary['Total Budget'].map("${0:,.2f}".format)
district_summary['% Math Passing Score (70>=)'] = district_summary['% Math Passing Score (70>=)'].map("{0:,.2f}%".format)
district_summary['% Reading Passing Score (70>=)'] = district_summary['% Reading Passing Score (70>=)'].map("{0:,.2f}%".format)
district_summary['Students (% Overall Passing)'] = district_summary['Students (% Overall Passing)'].map("{0:,.2f}%".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Math Passing Score (70>=),% Reading Passing Score (70>=),Students (% Overall Passing)
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,80.39%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [7]:
# Pull data for students on passing scores for math and reading
#school_data_complete.head()
students_math_pass = school_data_complete.loc[school_data_complete["math_score"]>= 70, :]
students_read_pass = school_data_complete.loc[school_data_complete["reading_score"]>= 70, :]

In [8]:
# Rename columns for presentation
school_data_complete = school_data_complete.rename(columns={"school_name": "School Name", "type":"Type"})

# Pull unique school names and create group by on School name and type
schools_data_set = school_data_complete.set_index('School Name').groupby(['School Name', 'Type'])

# calculate student count on grouped data set
student_cnt = schools_data_set["Student ID"].count()

# calculate budget
school_budget = schools_data_set["budget"].mean()
budget_per_stu = school_budget / student_cnt

# Average Math score per school
schoolMathScore = schools_data_set["math_score"].mean()
 
# Average Reading score per school
schoolReadScore = schools_data_set["reading_score"].mean()

#PassMathPercCnt =  students_math_pass.groupby(['School Name', 'Type'])['math_score'].count()
#print(PassMathPercCnt)
schoolPassMathPerc =  students_math_pass.groupby(['school_name', 'type'])['math_score'].count()/ student_cnt*100

# % Passing Reading
schoolPassReadPerc =  students_read_pass.groupby(['school_name', 'type'])['reading_score'].count()/ student_cnt*100

# % Overall Passing (The percentage of students that passed math and reading.)
schoolOverAllPass = (schoolPassMathPerc + schoolPassReadPerc)/2

# Create a dataframe to hold the above results
school_df = pd.DataFrame({"Total Students": student_cnt,
                          "Total School Budget": school_budget,
                          "Budget per Student": budget_per_stu,
                          "Avg Math Score": schoolMathScore,
                          "Avg Reading Score": schoolReadScore,
                          "% Passing Math": schoolPassMathPerc,
                          "% Passing Reading": schoolPassReadPerc,
                          "% Overall Passing Rate": schoolOverAllPass
                         
                         })

school_df = school_df.round(2)
school_df2 = school_df.copy()  # for use in lower calculations

# Formatting calculations 
school_df['Total Students'] = school_df['Total Students'].map("{0:,.0f}".format)
school_df['Total School Budget'] = school_df['Total School Budget'].map("${0:,.2f}".format)
school_df['Budget per Student'] = school_df['Budget per Student'].map("${0:,.2f}".format)

school_df['% Passing Math'] = school_df['% Passing Math'].map("{0:,.2f}%".format)
school_df['% Passing Reading'] = school_df['% Passing Reading'].map("{0:,.2f}%".format)
school_df['% Overall Passing Rate'] = school_df['% Overall Passing Rate'].map("{0:,.2f}%".format)

school_df

,,Total Students,Total School Budget,Budget per Student,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,Type,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,74.31%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,73.81%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,94.38%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,94.86%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.96,93.33%,96.61%,94.97%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [9]:
#sort values by % Overall passing rate in Descending order
top_performing = school_df.sort_values(['% Overall Passing Rate'], ascending=False)
top_performing

,,Total Students,Total School Budget,Budget per Student,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,Type,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.96,93.33%,96.61%,94.97%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,94.86%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,94.38%
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,74.31%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,73.81%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [10]:
#sort values by % Overall passing rate in Ascending order
deficient_performing = school_df.sort_values(['% Overall Passing Rate'], ascending=True)
deficient_performing

,,Total Students,Total School Budget,Budget per Student,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,Type,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,73.36%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,73.80%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,73.81%
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,74.31%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,94.38%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,94.86%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.96,93.33%,96.61%,94.97%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,95.20%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,95.27%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,95.27%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,95.29%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,95.59%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [11]:
# Description above needs correction:
# Title of this section says Math, But the description says Reading score
# in this section i will set a data frame to capture the math scores.

#grade_
grade_9  = school_data_complete[school_data_complete['grade'] == '9th']
grade_10 = school_data_complete[school_data_complete['grade'] == '10th']
grade_11 = school_data_complete[school_data_complete['grade'] == '11th']
grade_12 = school_data_complete[school_data_complete['grade'] == '12th']

# Reading Scores Set _m_ (represents Math variable)
grade_9_m_set  = grade_9.groupby(['School Name']).mean()["math_score"]
grade_10_m_set = grade_10.groupby(['School Name']).mean()["math_score"]
grade_11_m_set = grade_11.groupby(['School Name']).mean()["math_score"]
grade_12_m_set = grade_12.groupby(['School Name']).mean()["math_score"]

#Create df for reading score set
math_df = pd.DataFrame({"9th Grade":grade_9_m_set,
                           "10th Grade":grade_10_m_set,
                           "11th Grade":grade_11_m_set,
                           "12th Grade":grade_12_m_set    
                        })


math_df = math_df.round(2)
print(f'Math Scores by school:\n ')
math_df

Math Scores by school:

                       9th Grade  10th Grade  11th Grade  12th Grade
School Name
Bailey High School         77.08       77.00       77.52       76.49
Cabrera High School        83.09       83.15       82.77       83.28
Figueroa High School       76.40       76.54       76.88       77.15
Ford High School           77.36       77.67       76.92       76.18
Griffin High School        82.04       84.23       83.84       83.36
Hernandez High School      77.44       77.34       77.14       77.19
Holden High School         83.79       83.43       85.00       82.86
Huang High School          77.03       75.91       76.45       77.23
Johnson High School        77.19       76.69       77.49       76.86
Pena High School           83.63       83.37       84.33       84.12
Rodriguez High School      76.86       76.61       76.40       77.69
Shelton High School        83.42       82.92       83.38       83.78
Thomas High School         83.59       83.09       83.50       83.50
Wilson High School         83.09       83.72       83.20       83.04
Wright High School         83.26       84.01       83.84       83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [12]:
# In this section i will set a data frame to capture the reading scores.
#grade_
grade_9  = school_data_complete[school_data_complete['grade'] == '9th']
grade_10 = school_data_complete[school_data_complete['grade'] == '10th']
grade_11 = school_data_complete[school_data_complete['grade'] == '11th']
grade_12 = school_data_complete[school_data_complete['grade'] == '12th']

# Reading Scores Set _r_ represents (reading variable)
grade_9_r_set  = grade_9.groupby(['School Name']).mean()["reading_score"]
grade_10_r_set = grade_10.groupby(['School Name']).mean()["reading_score"]
grade_11_r_set = grade_11.groupby(['School Name']).mean()["reading_score"]
grade_12_r_set = grade_12.groupby(['School Name']).mean()["reading_score"]

#Create df for reading score set
reading_df = pd.DataFrame({"9th Grade":grade_9_r_set,
                           "10th Grade":grade_10_r_set,
                           "11th Grade":grade_11_r_set,
                           "12th Grade":grade_12_r_set    
                        })


reading_df = reading_df.round(2)
print(f'Reading Scores by school:\n ')
reading_df

Reading Scores by school:

                       9th Grade  10th Grade  11th Grade  12th Grade
School Name
Bailey High School         81.30       80.91       80.95       80.91
Cabrera High School        83.68       84.25       83.79       84.29
Figueroa High School       81.20       81.41       80.64       81.38
Ford High School           80.63       81.26       80.40       80.66
Griffin High School        83.37       83.71       84.29       84.01
Hernandez High School      80.87       80.66       81.40       80.86
Holden High School         83.68       83.32       83.82       84.70
Huang High School          81.29       81.51       81.42       80.31
Johnson High School        81.26       80.77       80.62       81.23
Pena High School           83.81       83.61       84.34       84.59
Rodriguez High School      80.99       80.63       80.86       80.38
Shelton High School        84.12       83.44       84.37       82.78
Thomas High School         83.73       84.25       83.59       83.83
Wilson High School         83.94       84.02       83.76       84.32
Wright High School         83.83       83.81       84.16       84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [13]:
#school_df2.dtypes

In [14]:
school_budget_df = school_df2.copy()
#school_budget_df

In [15]:
bins = [0, 584, 625, 639, 670 ]
# Create labels for these bins
group_labels = ["< 584",   "585-625",  "608-639",  "639-675"]

school_budget_df.head(5)

,,Total Students,Total School Budget,Budget per Student,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,Type,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,74.31
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.59
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,73.80
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,95.27

In [16]:
# Cut the df for budget student group  and apply the bins and labels
school_budget_df["Budget Student Group $"]=pd.cut(school_budget_df["Budget per Student"], bins, labels=group_labels)
school_budget_df.head(3)

,,Total Students,Total School Budget,Budget per Student,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,Budget Student Group $
School Name,Type,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,74.31,608-639
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.59,< 584
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36,608-639

In [17]:
# Calculate the School Spending Summary
sss_avgmath = school_budget_df.groupby(["Budget Student Group $"]).mean()["Avg Math Score"]
sss_avgread = school_budget_df.groupby(["Budget Student Group $"]).mean()["Avg Reading Score"]
sss_passMath = school_budget_df.groupby(["Budget Student Group $"]).mean()["% Passing Math"]
sss_passread = school_budget_df.groupby(["Budget Student Group $"]).mean()["% Passing Reading"]
sss_overall = school_budget_df.groupby(["Budget Student Group $"]).mean()["% Overall Passing Rate"]

school_spending_summary = pd.DataFrame({"Avg Math Score": sss_avgmath,
                                        "Avg Reading Score": sss_avgread,
                                        "% Passing Math": sss_passMath,
                                        "% Passing Reading": sss_passread,
                                        "% Overall Passing Rate":sss_overall                                    
                    })
school_spending_summary= school_spending_summary.round(2)
school_spending_summary

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Budget Student Group $,,,,,
< 584,83.45,83.94,93.46,96.61,95.04
585-625,83.52,83.86,93.95,96.31,95.13
608-639,78.50,81.69,73.08,85.05,79.06
639-675,77.02,80.96,66.70,80.68,73.69

## Scores by School Size

* Perform the same operations as above, based on school size.

In [18]:
school_df2.head(5)
school_size_df = school_df2.copy()

In [19]:
bins = [0, 999, 1500, 2500, 5000 ]

# Create labels for these bins for size of school
group_labels = ["< 1000", 
                "1k - 1.5K", 
                "1.5K - 2.5K", 
                "2.5K - 5K"]


school_size_df["School Size"]=pd.cut(school_size_df["Total Students"], bins, labels=group_labels)
school_size_df.head(3)

,,Total Students,Total School Budget,Budget per Student,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate,School Size
School Name,Type,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,74.31,2.5K - 5K
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,95.59,1.5K - 2.5K
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,73.36,2.5K - 5K

In [20]:
# Calculate the School Size Summary
szs_avgmath = school_size_df.groupby(["School Size"]).mean()["Avg Math Score"]
szs_avgread = school_size_df.groupby(["School Size"]).mean()["Avg Reading Score"]
szs_passMath = school_size_df.groupby(["School Size"]).mean()["% Passing Math"]
szs_passread = school_size_df.groupby(["School Size"]).mean()["% Passing Reading"]
szs_overall = school_size_df.groupby(["School Size"]).mean()["% Overall Passing Rate"]

school_size_summary = pd.DataFrame({"Avg Math Score": szs_avgmath,
                                        "Avg Reading Score": szs_avgread,
                                        "% Passing Math": szs_passMath,
                                        "% Passing Reading": szs_passread,
                                        "% Overall Passing Rate":szs_overall                                    
                    })
school_size_summary= school_size_summary.round(2)
school_size_summary

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
< 1000,83.82,83.93,93.55,96.10,94.82
1k - 1.5K,83.35,83.82,93.39,97.14,95.27
1.5K - 2.5K,83.36,83.90,93.69,96.67,95.18
2.5K - 5K,76.96,80.97,66.55,80.80,73.67

## Scores by School Type

* Perform the same operations as above, based on school type

In [21]:
school_df2.head(5)
school_type_df = school_df2.copy()

In [22]:
sty_avgmath = school_type_df.groupby(["Type"]).mean()["Avg Math Score"]
sty_avgread = school_type_df.groupby(["Type"]).mean()["Avg Reading Score"]
sty_passMath = school_type_df.groupby(["Type"]).mean()["% Passing Math"]
sty_passread = school_type_df.groupby(["Type"]).mean()["% Passing Reading"]
sty_overall = school_type_df.groupby(["Type"]).mean()["% Overall Passing Rate"]

school_type_df = pd.DataFrame({"Avg Math Score": sty_avgmath,
                                        "Avg Reading Score": sty_avgread,
                                        "% Passing Math": sty_passMath,
                                        "% Passing Reading": sty_passread,
                                        "% Overall Passing Rate":sty_overall                                    
                    })
school_type_df= school_type_df.round(2)
school_type_df

,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Type,,,,,
Charter,83.47,83.90,93.62,96.59,95.10
District,76.96,80.97,66.55,80.80,73.67