### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

### PyCitySchools
* Dev: Amir Vazquez
* Date: 12/12/2020

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
Schools = school_data_complete['type'].unique
print(Schools)

<bound method Series.unique of 0        District
1        District
2        District
3        District
4        District
           ...
39165     Charter
39166     Charter
39167     Charter
39168     Charter
39169     Charter
Name: type, Length: 39170, dtype: object>

In [7]:
tot_schools = str(school_data_complete['school_name'].nunique())
#print(f'Total Schools: {tot_schools}')

tot_students = school_data_complete['Student ID'].nunique()
#print(f'Total number of students: {tot_students}')

tot_budget = school_data['budget'].sum()
#print(f'Total Budget: {tot_budget}')

avg_math = school_data_complete['math_score'].mean()
#print(f'Average math score: {avg_math}')

avg_reading = school_data_complete['reading_score'].mean()
#print(f'Average math score: {avg_reading}')

mathcntPass = school_data_complete.loc[school_data_complete['math_score'] >=70]['math_score'].count()
#mathcntPass
perMathpass = mathcntPass / tot_students*100
#print(f'% if students with math grade 70 or higher: {perMathpass}')
readingcntPass = school_data_complete.loc[school_data_complete['reading_score'] >=70]['reading_score'].count()
#readingcntPass
perReadingpass = readingcntPass / tot_students*100
#print(f'% of students with reading grade 70 or higherL {perReadingpass}')

#Calculate the percentage of students who passed math and reading (% Overall Passing)
rateStudentPass = (perMathpass + perReadingpass)/2
print(f'Students who passed math and reading (% Overall Passing) {rateStudentPass}')

Students who passed math and reading (% Overall Passing) 80.39315802910392

In [8]:
# Define District summary dictionary to hold the calculations
district_summary = pd.DataFrame({
                    'Total Schools':[tot_schools], 
                    'Total Students':[tot_students],
                    'Total Budget': [tot_budget],
                    'Average Math Score':[avg_math],
                    'Average Reading Score':[avg_reading],
                    '% Math Passing Score (70>=)':perMathpass,
                    '% Reading Passing Score (70>=)':[perReadingpass],
                    'Students (% Overall Passing)':[rateStudentPass]
                    
                   })

district_summary = district_summary.round(2)

In [9]:
#district_summary

In [10]:
district_summary['Total Students'] = district_summary['Total Students'].map("{0:,.0f}".format)
district_summary['Total Budget'] = district_summary['Total Budget'].map("${0:,.2f}".format)
district_summary['% Math Passing Score (70>=)'] = district_summary['% Math Passing Score (70>=)'].map("{0:,.2f}%".format)
district_summary['% Reading Passing Score (70>=)'] = district_summary['% Reading Passing Score (70>=)'].map("{0:,.2f}%".format)
district_summary['Students (% Overall Passing)'] = district_summary['Students (% Overall Passing)'].map("{0:,.2f}%".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Math Passing Score (70>=),% Reading Passing Score (70>=),Students (% Overall Passing)
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,80.39%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [42]:
# Rename columns for presentation
school_data_complete = school_data_complete.rename(columns={"school_name": "School Name", "type":"Type"})

# Pull unique school names and create group by on School name and type

schools_data_set = school_data_complete.set_index('School Name').groupby(['School Name', 'Type'])

# calculate student count on grouped data set
student_cnt = schools_data_set["Student ID"].count()

# calculate budget
school_budget = schools_data_set["budget"].mean()
budget_per_stu = school_budget / student_cnt

# Average Math score per school
schoolMathScore = schools_data_set["math_score"].mean()
 
# Average Reading score per school
schoolReadScore = schools_data_set["reading_score"].mean()

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html
# % Passing Math
schoolPassMathPerc =  school_data_complete.query('math_score >=70')["School ID"].count()/ student_cnt
#schoolPassMathPerc

# % Passing Reading
schoolPassReadPerc =  school_data_complete.query('reading_score >=70')["School ID"].count()/ student_cnt

# % Overall Passing (The percentage of students that passed math and reading.)
schoolOverAllPass = (schoolMathScore + schoolReadScore)/2

# Create a dataframe to hold the above results
school_df = pd.DataFrame({"Total Students": student_cnt,
                          "Total School Budget": school_budget,
                          "Budget per Student": budget_per_stu,
                          "Avg Math Score": schoolMathScore,
                          "Avg Reading Score": schoolReadScore,
                          "% Passing Math": schoolPassMathPerc,
                          "% Passing Reading": schoolPassReadPerc,
                          "% Overall Passing Rate": schoolOverAllPass
                         
                         })

school_df = school_df.round(2)


#district_summary['Total Budget'] = district_summary['Total Budget'].map("${0:,.2f}".format)
#district_summary['% Math Passing Score (70>=)'] = district_summary['% Math Passing Score (70>=)'].map("{0:,.2f}%".format)
school_df['Total Students'] = school_df['Total Students'].map("{0:,.0f}".format)
school_df['Total School Budget'] = school_df['Total School Budget'].map("${0:,.2f}".format)
school_df['Budget per Student'] = school_df['Budget per Student'].map("${0:,.2f}".format)

school_df['% Passing Math'] = school_df['% Passing Math'].map("{0:,.2f}%".format)
school_df['% Passing Reading'] = school_df['% Passing Reading'].map("{0:,.2f}%".format)
school_df['% Overall Passing Rate'] = school_df['% Overall Passing Rate'].map("{0:,.2f}%".format)


school_df

,,Total Students,Total School Budget,Budget per Student,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,Type,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,5.90%,6.75%,79.04%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,15.81%,18.09%,83.52%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,9.96%,11.40%,78.93%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,10.72%,12.27%,78.92%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,20.01%,22.90%,83.58%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,6.34%,7.25%,79.11%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,68.78%,78.71%,83.81%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,10.07%,11.52%,78.91%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,6.17%,7.06%,79.02%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,30.53%,34.94%,83.94%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,7.34%,8.40%,78.79%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,16.68%,19.09%,83.54%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,17.96%,20.56%,83.63%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,12.86%,14.72%,83.63%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.96,16.32%,18.67%,83.82%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [43]:
top_performing = school_df.sort_values(['% Overall Passing Rate'], ascending=False)
top_performing

,,Total Students,Total School Budget,Budget per Student,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,Type,,,,,,,,
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,30.53%,34.94%,83.94%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.96,16.32%,18.67%,83.82%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,68.78%,78.71%,83.81%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,17.96%,20.56%,83.63%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,12.86%,14.72%,83.63%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,20.01%,22.90%,83.58%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,16.68%,19.09%,83.54%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,15.81%,18.09%,83.52%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,6.34%,7.25%,79.11%
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,5.90%,6.75%,79.04%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,6.17%,7.06%,79.02%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,9.96%,11.40%,78.93%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,10.72%,12.27%,78.92%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,10.07%,11.52%,78.91%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,7.34%,8.40%,78.79%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [44]:
deficient_performing = school_df.sort_values(['% Overall Passing Rate'], ascending=True)
deficient_performing

,,Total Students,Total School Budget,Budget per Student,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Name,Type,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,7.34%,8.40%,78.79%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,10.07%,11.52%,78.91%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,10.72%,12.27%,78.92%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,9.96%,11.40%,78.93%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,6.17%,7.06%,79.02%
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,5.90%,6.75%,79.04%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,6.34%,7.25%,79.11%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,15.81%,18.09%,83.52%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,16.68%,19.09%,83.54%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,20.01%,22.90%,83.58%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,17.96%,20.56%,83.63%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,12.86%,14.72%,83.63%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,68.78%,78.71%,83.81%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.96,16.32%,18.67%,83.82%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,30.53%,34.94%,83.94%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [48]:
# Title of this section says Math, But the description says Reading score
# in this section i will set a data frame to capture the math scores.

grade_9 = school_data_complete[school_data_complete['grade'] == '9th']
#grade_9
grade_10 = school_data_complete[school_data_complete['grade'] == '10th']
grade_11 = school_data_complete[school_data_complete['grade'] == '11th']
grade_12 = school_data_complete[school_data_complete['grade'] == '12th']

# Reading Scores Set
grade_9_m_set = grade_9.groupby(['School Name']).mean()["math_score"]
grade_10_m_set = grade_10.groupby(['School Name']).mean()["math_score"]
grade_11_m_set = grade_11.groupby(['School Name']).mean()["math_score"]
grade_12_m_set = grade_12.groupby(['School Name']).mean()["math_score"]

#Create df for reading score set
reading_df = pd.DataFrame({"9th Grade":grade_9_m_set,
                           "10th Grade":grade_10_m_set,
                           "11th Grade":grade_11_m_set,
                           "12th Grade":grade_12_m_set    
                        })


reading_df = reading_df.round(2)
reading_df

                       9th Grade  10th Grade  11th Grade  12th Grade
School Name
Bailey High School         77.08       77.00       77.52       76.49
Cabrera High School        83.09       83.15       82.77       83.28
Figueroa High School       76.40       76.54       76.88       77.15
Ford High School           77.36       77.67       76.92       76.18
Griffin High School        82.04       84.23       83.84       83.36
Hernandez High School      77.44       77.34       77.14       77.19
Holden High School         83.79       83.43       85.00       82.86
Huang High School          77.03       75.91       76.45       77.23
Johnson High School        77.19       76.69       77.49       76.86
Pena High School           83.63       83.37       84.33       84.12
Rodriguez High School      76.86       76.61       76.40       77.69
Shelton High School        83.42       82.92       83.38       83.78
Thomas High School         83.59       83.09       83.50       83.50
Wilson High School         83.09       83.72       83.20       83.04
Wright High School         83.26       84.01       83.84       83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [49]:
# Title of this section says Math, But the description says Reading score
# in this section i will set a data frame to capture the reading scores.
grade_9 = school_data_complete[school_data_complete['grade'] == '9th']
#grade_9
grade_10 = school_data_complete[school_data_complete['grade'] == '10th']
grade_11 = school_data_complete[school_data_complete['grade'] == '11th']
grade_12 = school_data_complete[school_data_complete['grade'] == '12th']

# Reading Scores Set
grade_9_r_set = grade_9.groupby(['School Name']).mean()["reading_score"]
grade_10_r_set = grade_10.groupby(['School Name']).mean()["reading_score"]
grade_11_r_set = grade_11.groupby(['School Name']).mean()["reading_score"]
grade_12_r_set = grade_12.groupby(['School Name']).mean()["reading_score"]

#Create df for reading score set
reading_df = pd.DataFrame({"9th Grade":grade_9_r_set,
                           "10th Grade":grade_10_r_set,
                           "11th Grade":grade_11_r_set,
                           "12th Grade":grade_12_r_set    
                        })


reading_df = reading_df.round(2)
reading_df

                       9th Grade  10th Grade  11th Grade  12th Grade
School Name
Bailey High School         81.30       80.91       80.95       80.91
Cabrera High School        83.68       84.25       83.79       84.29
Figueroa High School       81.20       81.41       80.64       81.38
Ford High School           80.63       81.26       80.40       80.66
Griffin High School        83.37       83.71       84.29       84.01
Hernandez High School      80.87       80.66       81.40       80.86
Holden High School         83.68       83.32       83.82       84.70
Huang High School          81.29       81.51       81.42       80.31
Johnson High School        81.26       80.77       80.62       81.23
Pena High School           83.81       83.61       84.34       84.59
Rodriguez High School      80.99       80.63       80.86       80.38
Shelton High School        84.12       83.44       84.37       82.78
Thomas High School         83.73       84.25       83.59       83.83
Wilson High School         83.94       84.02       83.76       84.32
Wright High School         83.83       83.81       84.16       84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type